<body class="<%= @user.role %>">
  <div id="role">
    <p>Your game code is: <strong><%= @user.game.game_code %></strong></p>
    <p class="display"><%= @user.display %></p>
    <%= @user.flavor_text %>
  </div>
</body>
